// header
.header {
    padding: 30px 0;
    margin-bottom: 60px;
    &__wrapper {
        display: flex;
        align-items: center;

    }
    &__logo {
        margin-right: 56px;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__cart {
        margin-left: auto;
    }
}

