// header
.header {
    padding: 30px 0;
    margin-bottom: 60px;
    &__wrapper {
        display: flex;
        align-items: center;

    }
    &__logo {
        margin-right: 56px;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__cart {
        margin-left: auto;
    }
}

Ignite Fit
Работал с версткой сайта, верстал по макету. В понедельник начну интеграцию с шопифаем, если нужно, можно будет проверять верстку страниц сразу с начала рабочего дня, в понедельник. 